.m-related-section {
  padding: 80px 20px 20px;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include respond-to('medium') {
      flex-direction: row;
    }
  }


  &__item {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    display: block;
    margin: auto;
  }
}

.m-related-section-item {
  &__title {
    font-size: 2rem;
  }
}
