.m-features-section {
  padding-top: 50px;
  background-color: var(--secondary-subtle-color);

  &__feature {
    display: flex;
    align-items: center;
    margin: 70px 0;
    flex-direction: column-reverse;
    text-align: center;

    @include respond-to('medium') {
      height: 270px;
      margin: 70px 0;
      text-align: start;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd) {
        flex-direction: row;
      }
    }
  }

  &__text {
    flex: 1;

    & h2 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      font-size: 1.25rem;
    }

    @include respond-to('medium') {
      padding: 0 30px;
    }
  }

  &__img {
    width: 60%;

    @include respond-to('medium') {
      width: 250px;
      margin: 0 50px;
    }
  }

  &__title {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 500;
  }
}
