.m-heading {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  &.in-subscribe-page {
    @include respond-to('medium') {
      margin-bottom: 50px;
    }
  }

  &.no-margin {
    margin-bottom: 0 !important;
  }
}
